.main{
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main .sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    padding: 10px;
}

.main .content{
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
}

.main .link{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.main .link:hover{
    transform: scale(1.1, 1.1);
}

.active{
    color: blue;
}

.btn{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}